body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.table-menu, .footer {
    background-color: #999999
}

.start,
.table-menu,
.mid {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: white;
}

.start {
    background: url("../img/banner.png");
}

.table-menu td,
.start td {
    color: white;
}

a {
    text-decoration: none;
}

td.logo {
    text-align: left;
}

.color1 {
    color: #6DC72A;
}

.color2 {
    color: #999999;
}

.mid, .news, .news2 {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
}
.footer {
    margin: auto;
    text-align: center;
    width: 1200px;
    color: white;
}

a {
    color: white;
}
footer a {
    color: white;
    text-decoration: underline;
}
footer p {
    font-size: 12px;
}

.news2 {
    margin-bottom: 70px;
    text-align: left;
}

.start {
    height: 150px;
}

.contact_inform {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

.contact_inform h3 {
    color: #6DC72A;
}

.contact_inform p {
    color: #999999;
    font-size: 14px;
}

.contact_inform td {
    width: 33.33%;
}

.map {
    width: 900px;
    margin: 0 auto;
}

input[type="submit" i] {
    color: black
    background-color: white;
    border-radius: 25px;
}

.form {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

input[type="submit" i] {
    margin-top: 10px;
}
